NODE_RED.json
[
    {
        "id": "8a226e4818710a6a",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49870a4266f81cbd",
        "type": "mqtt out",
        "z": "8a226e4818710a6a",
        "name": "ENTC-INTERVAL",
        "topic": "ENTC-INTERVAL",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6392115a232cc526",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "d75219f5d1a9c21e",
        "type": "ui_slider",
        "z": "8a226e4818710a6a",
        "name": "",
        "label": "Sampling Interval",
        "tooltip": "",
        "group": "c22cdc04b9acfbda",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "c8db2db229e09436"
            ]
        ]
    },
    {
        "id": "23016c7573dba70d",
        "type": "ui_slider",
        "z": "8a226e4818710a6a",
        "name": "",
        "label": "Data Interval",
        "tooltip": "",
        "group": "c22cdc04b9acfbda",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "cb201b37cb0c556c"
            ]
        ]
    },
    {
        "id": "c8db2db229e09436",
        "type": "function",
        "z": "8a226e4818710a6a",
        "name": "Parse Sampling Interval",
        "func": "msg.payload = \"s\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "49870a4266f81cbd"
            ]
        ]
    },
    {
        "id": "cb201b37cb0c556c",
        "type": "function",
        "z": "8a226e4818710a6a",
        "name": "Parse Data Interval",
        "func": "msg.payload = \"d\" + msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 240,
        "wires": [
            [
                "49870a4266f81cbd"
            ]
        ]
    },
    {
        "id": "e3b0544c7632fb91",
        "type": "mqtt out",
        "z": "8a226e4818710a6a",
        "name": "ENTC-ANGLE",
        "topic": "ENTC-ANGLE",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6392115a232cc526",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6f4c05e52bcec52",
        "type": "ui_slider",
        "z": "8a226e4818710a6a",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "0fb939f6d7d65c55",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "120",
        "step": 1,
        "className": "",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "e3b0544c7632fb91"
            ]
        ]
    },
    {
        "id": "1e568a56a93dbcde",
        "type": "mqtt in",
        "z": "8a226e4818710a6a",
        "name": "ENTC-LIGHT",
        "topic": "ENTC-LIGHT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6392115a232cc526",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "bfa6dff64413ecf7",
                "d028045990cadd4a"
            ]
        ]
    },
    {
        "id": "bfa6dff64413ecf7",
        "type": "ui_gauge",
        "z": "8a226e4818710a6a",
        "name": "",
        "group": "c22cdc04b9acfbda",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminance Guage",
        "label": "Lux",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#102a41",
            "#004b85",
            "#e4edfb"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "d028045990cadd4a",
        "type": "ui_chart",
        "z": "8a226e4818710a6a",
        "name": "",
        "group": "c22cdc04b9acfbda",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Luminance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "100",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0aaf72ef5c1230ad",
        "type": "mqtt out",
        "z": "8a226e4818710a6a",
        "name": "ENTC-CONTROL",
        "topic": "ENTC-CONTROL",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6392115a232cc526",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "aadcce69f4eef9ce",
        "type": "ui_slider",
        "z": "8a226e4818710a6a",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "0fb939f6d7d65c55",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "0aaf72ef5c1230ad"
            ]
        ]
    },
    {
        "id": "91a5bc352465d636",
        "type": "mqtt out",
        "z": "8a226e4818710a6a",
        "name": "ENTC-TEMP",
        "topic": "ENTC-TEMP1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6392115a232cc526",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "46db70a77d9c4763",
        "type": "ui_slider",
        "z": "8a226e4818710a6a",
        "name": "",
        "label": "Medicine Temperature",
        "tooltip": "",
        "group": "0fb939f6d7d65c55",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "91a5bc352465d636"
            ]
        ]
    },
    {
        "id": "6392115a232cc526",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c22cdc04b9acfbda",
        "type": "ui_group",
        "name": "Light",
        "tab": "e2fee864cd506cd6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fb939f6d7d65c55",
        "type": "ui_group",
        "name": "Servo Control",
        "tab": "e2fee864cd506cd6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e2fee864cd506cd6",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]